arrow
azure-common
azure-core
azure-functions
azure-nspkg
azure-storage-blob
azure-storage-file-datalake
cryptography
dataset
fastapi
flask
flask-htmx
flask-login
gunicorn
jinja2
peewee
psycopg2-binary
pip
python-dateutil
python-dotenv
pytz
redis
rich
requests
tqdm
uamqp
urllib3
uvloop
