aioboto3
aiobotocore
aiofile
aioredis
arrow
azure-common
azure-core
azure-functions
azure-nspkg
azure-storage-blob
azure-storage-file-datalake
boto3
botocore
cryptography
dataset
fastapi
gunicorn
hiredis
jinja2
numpy
pandas
pandas-market-calendars
peewee
pip
psycopg2-binary
pydantic
python-dateutil
python-dotenv
pytz
redis
requests
rich
scipy
tqdm
uamqp
urllib3
uvloop